body {
  background-color: rgb(40 40 41 / 10%);
}
.askdoubt-section {
  /* display: flex;
  flex-direction: row;
  justify-content: space-between;

  border: 2px solid green; */
}
.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.bg-color {
  display: flex;
  flex-direction: column;
  background-color: transparent;
  background-color: purple;
  /* border-radius: 25px; */

  height: 500px;
  /* padding: 20px; */
  
}


.left-container {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  /* border: 2px solid red; */
  width: 68%;
  box-shadow: 0px 0px 10px;
}
.qna{
  /* border: 1px solid purple; */
  margin-inline:400px;
}
.qna h1 {
  position: absolute;
  color: #fff;
  font-size: 120px;
  margin-block: 0px;
}

.qna h1:nth-child(1) {
  color: transparent;
  -webkit-text-stroke: 2px #8338ec;
}

.qna h1:nth-child(2) {
  color: #c19bf5;
  animation: animate 4s ease-in-out infinite;
}

@keyframes animate {
  0%,
  100% {
    clip-path: polygon(
      0% 45%,
      16% 44%,
      33% 50%,
      54% 60%,
      70% 61%,
      84% 59%,
      100% 52%,
      100% 100%,
      0% 100%
    );
  }

  50% {
    clip-path: polygon(
      0% 60%,
      15% 65%,
      34% 66%,
      51% 62%,
      67% 50%,
      84% 45%,
      100% 46%,
      100% 100%,
      0% 100%
    );
  }
}

.qna-box {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 1px 1px;
  height: 200px;
  /* border: 1px solid purple; */
  margin-block-start: 200px;
  margin-inline: 100px;
  border-radius: 20px;
  /* padding: 20px; */
  
}



.qna-box .input-box {
  width: 91%;
  height: 38px;
  border-radius: 24px;
  border: none;
  border: 1px solid purple;
}

.qna-box .input-box::placeholder {
  text-transform: uppercase;
  padding: 20px;
  font-size: 14px;
} 



.posted-questions-bg {

  display: flex;
  flex-direction: row;

  align-items: center;
  background-color: transparent;
  height: 100%;


  width: 100%;

}
.doubts-list {
  /* border: 2px solid red; */
  /* border: 2px solid #8338ec; */
  display: flex;
  flex-direction: column;
  /* width: 70%; */
  /* background-color: #c19bf5; */
  box-shadow: 0px 0px 1px 1px;
  /* border-radius: 5px; */
  /* margin-left: 140px; */
  border-radius: 20px;
  margin-inline:100px; 
  padding: 20px;
  
}

.doubt-box {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 1px 1px;
  /* height: 120px; */
  /* margin: 20px; */
  /* background-color: #00b3fce0; */
  box-shadow: 0px 0px 3px;
  border-radius: 10px;
  padding: 15px;
}
/* .questions-discussion-btn { */
  /* border: 0; */
  /* height: 20px;
  width: 100px; */
  /* margin: 20px;
  padding: 5px;
  box-shadow: 0px 0px 3px;
  cursor: pointer;
} */
/* .doubt-box p {
  font-size: 20px;
} */

/* .doubt-box-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  
} */
.count {
  color: red;
}

.left-qna-container {
  display: flex;
  flex-direction: column;
}

.askdoubt-section .right-container {
  top: 5px;
  /* left: 0; */

  width: 30%;
  height: 800px;
  position: fixed;
  margin-left: 1061px;
  box-shadow: 0px 0px 10px;
}

.right-container-contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* border: 1px solid purple; */
  margin: 20px;
  height: 50px;
  box-shadow: 0px 0px 4px;
}
.your-section {
  background-color: #8338ec;

  border: none;
  box-shadow: 0px 0px 5px;
  border-radius: 5px;
}
.your-section h1 a {
  color: #ffff67;
}
